In [27]:
letters = "abcdefghijklmnopqrstuvwxyz"
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
pets = ['cat', 'dog', 'bird']
users = [
    {'name': 'bob', 'age': 44},
    {'name': 'sue', 'age': 34},
    {'name': 'bill', 'age': 24},
    {'name': 'jane', 'age': 29}
]

evens_count = 0 
for n in nums:
    if n % 2 == 0:
        print(n)
        evens_count += 1
    else:
        print('odd')
    
print("evens_count: ", evens_count)

odd
2
odd
4
odd
6
odd
8
odd
10
odd
12
odd
14
odd
16
odd
18
odd
20
evens_count:  10

In [36]:

for l in letters:
    if letters.index(l) % 2 == 0:
        print(l)

a
c
e
g
i
k
m
o
q
s
u
w
y

In [37]:
list2 = [(2,4),(6,8),(10,12)]

In [38]:
for t in list2:
    print(t)

(2, 4)
(6, 8)
(10, 12)

In [40]:
for (a,b) in list2:
    print(b)

4
8
12

In [41]:
d = {'k1':1,'k2':2,'k3':3}

d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [42]:
d.values()

dict_values([1, 2, 3])

In [43]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [48]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [49]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [60]:
a = list(d.items)

TypeError: 'builtin_function_or_method' object is not iterable

In [61]:
a

[('k1', 1), ('k2', 2), ('k3', 3)]

In [65]:
a[1](k2)

NameError: name 'k2' is not defined